@import "../../scss/mixins";

.root {
  @include flex($align: center);
  @extend %appButton;
  background-color: $orange;
  padding: 10px 20px;
  @include noselect();

  &:hover {
    background-color: darken($orange, 8%);
  }

  &:active {
    background-color: darken($orange, 12%);
    transform: translateY(1px);
  }

  .delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  svg {
    width: 20px;
    margin-right: 8px;
    margin-bottom: 1px;
    path,
    circle {
      stroke: white;
    }
  }

  span {
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
}

@media screen and (max-width: 1066px) {
  .root {
    width: 50px !important;
    height: 35px;
    justify-content: flex-end;
    background-color: inherit;
    border: none;
    padding: 0;

    span,
    .delimiter {
      display: none;
    }

    svg {
      width: 70%;
      height: 100%;
      margin-right: 0;

      path,
      circle {
        stroke: $black;
      }
    }
  }
}
