@import "../../../scss/variables";

svg.plus,
svg.minus,
svg.remove {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 7px;
  height: 30px;
  width: 30px;
  border: solid 2px $orange;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: darken($orange, 8%);
    transform: scale(1.15);
    path {
      fill: white;
    }
  }

  &:active {
    background-color: darken($orange, 15%);
    transform: scale(1.25);
    path {
      fill: white;
    }
  }
}

svg.minus :first-child {
  display: none;
}

svg.remove {
  border-color: darken($color: $gray-line, $amount: 10);
  transform: rotate(45deg);

  path {
    fill: darken($color: $gray-line, $amount: 15);
  }

  &:hover {
    transform: rotate(45deg) scale(1.2);
    background-color: lighten($color: $black, $amount: 15);
  }
  &:active {
    transform: rotate(45deg) scale(1.3);
  }
}
