@import "../../scss/mixins";
@import "../../scss/variables";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 150px 70px 160px 50px 45px;
  grid-template-areas:
    "goBack goBack"
    "img title"
    "img ingredients"
    "img selector"
    "img price"
    "img button";
  padding: 10px 5% 200px;

  a:first-child {
    grid-area: goBack;
    justify-self: start;
    margin: 15px 0;
    height: 45px;
    width: 165px;
  }

  img[alt="pizza"] {
    margin-top: 50px;
    width: inherit;
    height: 100%;
    grid-area: img;
    justify-self: center;
    box-sizing: border-box;
  }

  h2 {
    grid-area: title;
    align-self: end;
    margin-bottom: 20px;
    font-size: 34px;
  }

  span {
    grid-area: ingredients;
    font-size: 18px;
    line-height: 145.4%;
    letter-spacing: 0.01em;
    color: #777777;
  }

  .selector {
    grid-area: selector;
    text-align: center;
    margin-top: 20px;
    padding: 0 80px 0 0;
  }

  p {
    grid-area: price;
    align-self: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  button:last-child {
    grid-area: button;
    justify-self: start;
    width: 20vw;
  }
}

@media screen and (max-width: 1030px) {
  .root {
    grid-template-rows: 65px 130px 70px 160px 50px 45px;
  }

  .root .selector {
    padding: 0;
  }
}

@media screen and (max-width: 915px) {
  .root {
    grid-template-rows: 65px 120px 80px 130px 50px 45px;
    padding: 10px 5% 50px;

    img[alt="pizza"] {
      height: 350px;
    }

    .selector {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 780px) {
  .root {
    grid-template-areas:
      "goBack goBack"
      "img img"
      "title title"
      "ingredients ingredients"
      "selector selector"
      "price button";
    grid-template-rows: auto 1fr 100px 60px 135px 45px;
    text-align: center;

    a:first-child {
      margin: 0;
    }

    img[alt="pizza"] {
      margin-top: 20px;
    }

    button:last-child {
      justify-self: end;
      width: 80%;
    }
  }
}

@media screen and (max-width: 455px) {
  .root {
    img[alt="pizza"] {
      width: 60vw;
      height: inherit;
    }
  }
}
