@import "../../scss/mixins";
@import "../../scss/variables";

.root {
  display: none;
  width: 35px;
  height: 24px;

  label {
    position: relative;

    .top,
    .middle,
    .middle::before,
    .bottom {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      height: 3px;
      width: 35px;
      background-color: $black;
      transition: all 0.25s ease-in-out;
    }

    .middle {
      top: 10px;
    }

    .bottom {
      top: 20px;
    }
  }

  label.burgerOpened {
    .top,
    .bottom {
      opacity: 0;
    }

    .middle {
      transform: rotate(45deg);

      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  .popup {
    position: absolute;
    top: 186px;
    left: 9%;
    padding: 20px;
    width: 82%;
    height: fit-content;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 15px 21px -18px rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid $gray-line;

    .searchBlock {
      display: grid;
      grid-template-columns: 3fr 0.5fr;
      grid-template-areas: "input input input button";
      column-gap: 20px;
      height: 47px;
      margin-bottom: 20px;

      & > div:first-child {
        grid-area: input;
        width: 100%;

        input {
          display: block;
          position: initial;
          max-width: 900px;
          width: 100%;
        }
      }

      svg {
        display: block;
      }

      button {
        grid-area: button;
        @include flex($align: center, $justify: center);
        @extend %appButton;
        width: 100%;
        background-color: $orange;
        color: #fff;
        font-size: 17px;
        height: 47px;
      }
    }

    & ul {
      // Categories
      @include flex($direction: column, $align: center);
      height: fit-content;

      li,
      li:first-child {
        padding: 15px 50px;
        font-size: 18px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1066px) {
  .root {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .root {
    & .popup {
      top: 141px;
      left: 3%;
      width: 94%;

      .searchBlock {
        height: 130px;
        grid-template-areas:
          "input input input"
          "button button button";
        border-bottom: solid 1px $gray-line;

        button {
          width: 45%;
          justify-self: end;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
}
