@import "../../scss/variables";
@import "../../scss/libs/normalize";
.root {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $container-width;
  margin: 0 auto;

  .logo {
    display: flex;

    img[alt="Pizza logo"] {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }

  .cart {
    display: flex;
    padding: 12px 25px;
    background-color: $orange;
    border-radius: 30px;
    padding: 10px 20px;
    min-width: 100px;
    cursor: pointer;
    transition: background-color $duration ease-in-out,
      border-color $duration ease-in-out;
    border: 1px solid transparent;

    .delimiter {
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
      margin-left: 14px;
      margin-right: 14px;
    }

    @include noselect();

    img {
      margin-right: 8px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      color: white;
    }
  }
}
