@import "../../scss/variables";
@import "../../scss/normalize";
@import "../../scss/mixins";

.root {
  @include flex($justify: space-between, $align: center);
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;
  width: $container-width;
  margin: 0 auto;
}

@media screen and (max-width: 1066px) {
  .root {
    justify-content: end;

    :first-child {
      margin-right: auto;
    }

    svg[height="512"],
    input {
      display: none;
    }
  }
}
