@import "../../scss/variables";
@import "../../scss/normalize.scss";
@import "../../scss/mixins";

.root {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 330px 110px 47px;
  grid-template-areas:
    "link link"
    "selector selector"
    "price button";
  text-align: center;
  width: 280px;

  a {
    @include flex($direction: column, $justify: center);
    grid-area: link;
    img {
      margin-left: 15px;
      transition: all ease-in-out 0.1s;
      width: 260px;

      &:hover {
        transform: translateY(4px);
      }
    }

    h4 {
      font-size: 20px;
      font-weight: 900;
      margin: auto;
    }
  }

  p {
    grid-area: price;
    align-self: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  button:last-of-type {
    margin: 3px 0 3px 20px;
  }
}
