@import "./_variables";
@import "./normalize";
@import "./mixins";

html {
  background-color: $background;
}

body {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

@media screen and (max-width: 550px) {
  body {
    @include container($width: 94%);
    margin-top: 15px;
  }
}
